<h1>Admin Dashboard</h1>

<div class="alert-success">
<h3><b>Number of Products:</b> <a href='/admin/products'><%= @product_count %></a></h3>
<h3><b>Number of Categories:</b> <a href='/admin/products'><%= @category_count %></a></h3>
</div>
