<header class="page-header">
<h1>About Us</h1>
</header>

<p>Hello, there! Welcome to Jungle. We consider ourselves to be the epitome of style and authenticity while at the same time to not conform to the traditional, outdated norms that modern day society presents to us.
We love craft beer, vintage clothing, and indie music you've probably never heard of before. Our favourite tv show is Portlandia.</p>

<p><b>Meet the team! Pictured below is our CEO and co-founder, Atticus. He has a killer beard, eh? </b></p>
<img class="img-responsive" width="600"src="https://s3.envato.com/files/296806622/PPL02570.jpg">

<p><b> This is Juniper, our CFO and co-founder. As you can see, she loves coffee and anything flannel. </b></p>
<img class="img-responsive" width="600"src="https://mh-1-stockagency.panthermedia.net/media/previews/0017000000/17496000/17496194_high.jpg">